<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Include the macro file for the specific OnRobot model -->
    <xacro:macro name="onrobot"
        params="
        onrobot_type
        prefix:=''
        sim_gazebo:=false
        use_fake_hardware:=false
        connection_type:=serial
        device:=/tmp/ttyUR
        ip_address:=192.168.1.1
        port:=502
        ">

        <xacro:if value="${onrobot_type == 'rg2'}">
            <xacro:include filename="$(find onrobot_description)/urdf/rg2_macro.xacro"/>
            <xacro:onrobot_rg2 prefix="${prefix}"/>
        </xacro:if>
        <xacro:if value="${onrobot_type == 'rg6'}">
            <xacro:include filename="$(find onrobot_description)/urdf/rg6_macro.xacro"/>
            <xacro:onrobot_rg6 prefix="${prefix}"/>
        </xacro:if>

        <!-- Enable the gazebo plugin for simulation -->
        <xacro:if value="${sim_gazebo}">
            <gazebo>
                <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control"/>
            </gazebo>
        </xacro:if>

        <!-- Define the OnRobot gripper hardware interface for ROS 2 control -->
        <ros2_control name="OnRobotGripper" type="actuator">
            <hardware>
                <xacro:if value="${sim_gazebo}">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>test_hardware_components/TestSingleJointActuator</plugin>
                </xacro:if>
                <xacro:unless value="${sim_gazebo or use_fake_hardware}">
                    <plugin>onrobot_driver/RGHardwareInterface</plugin>
                    <param name="onrobot_type">${onrobot_type}</param>
                    <param name="prefix">${prefix}</param>
                    <param name="connection_type">${connection_type}</param>
                    <param name="device">${device}</param>
                    <param name="ip_address">${ip_address}</param>
                    <param name="port">${port}</param>
                </xacro:unless>
            </hardware>
            <joint name="${prefix}finger_width">
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>