<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
    <!-- Arguments -->
    <xacro:arg name="name" default="onrobot"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="sim_gazebo" default="false"/>

    <!-- Import the RG2-specific macro file -->
    <xacro:include filename="$(find onrobot_description)/urdf/rg2_macro.xacro"/>

    <!-- Create RG2 instance -->
    <xacro:onrobot_rg2 prefix="$(arg prefix)"/>

    <!-- Create link fixed to the world -->
    <link name="world" />
    <joint name="$(arg prefix)onrobot_base_link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="$(arg prefix)onrobot_base_link"/>
    </joint>

    <!-- Optional Gazebo plugin if simulation is enabled -->
    <xacro:if value="$(arg sim_gazebo)">
        <xacro:gazebo_plugin prefix="$(arg prefix)"/>
    </xacro:if>
</robot>